@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    padding: 20px;
    background-color: darkslategrey;
    font-family: "Roboto" ;
    font-weight: 500;
    font-size: 20px;
    text-shadow: none;
}
div > header {
    background-color: gray;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: -10px;
}
div{  
    background-color: #fff;
    width: 700px;
    height: 1000px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    padding-left: 10px;
}

